.dash-back {
  color: var(--color-primary-variant);
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 0.3rem;
}

.dash-back:hover {
  text-decoration: underline;
}

.dash-display-image{
  border-radius: 1rem;
}

.dash-h2 {
  color: var(--color-primary);
  text-align: center;
}

.dash-body-container > img {
  margin-top: 2rem;
}

.dash-body-container > p {
  margin-top: 2rem;
}

.dash-h2 {
  color: var(--color-primary);
  margin-top: 1rem;
  font-size: 200%;
}

.dash-body-container {
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

@media screen and (max-width: 1024px){
  .dash-body-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .dash-h2 {
    font-size: 175%;
  }
}

@media screen and (max-width: 600px){
  .dash-body-container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .dash-h2 {
    font-size: 150%;
  }
}