.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  overflow: hidden;
  height: 35%;
  object-fit: fill;
}

.portfolio__item h3 {
  margin: 1rem auto;
  text-align: center;
}

.portfolio__item p {
  margin: 0 0 1.2rem 0;
  font-size: 0.9rem;
}

.portfolio__item-cta {
  display: flex;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.portfolio__item-content {
  margin-bottom: 2rem;
}

.show-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.show-more {
  color: var(--color-bg);
  background: transparent;
}

.new-item {
  opacity: 0;
  transform: translateY(-50px);
  animation: slideDown 0.45s ease-out forwards;
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 700px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
