.ev-car-back {
  color: var(--color-primary-variant);
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 0.3rem;
  position: sticky;
  top: 10px;
}

.ev-car-back:hover {
  text-decoration: underline;
}

.ev-car-display-image{
  border-radius: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}

.ev-car-h2 {
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 2rem;
}

.ev-car-body-container > img {
  margin-top: 2rem;
}

.ev-car-h2 {
  color: var(--color-primary);
  margin-top: 1rem;
  font-size: 200%;
}

.ev-car-body-container {
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

@media screen and (max-width: 1024px){
  .ev-car-body-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .ev-car-h2 {
    font-size: 175%;
  }
}

@media screen and (max-width: 600px){
  .ev-car-body-container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .ev-car-h2 {
    font-size: 150%;
  }
}